{% extends 'base.html.twig' %}

{% block title %}Cocktails Bar{% endblock %}

{% block body %}

    <h1>Modifier la création {{ cocktail.label}} <img class="logo" src="/image/cocktail.svg"> </h1>

    {{ form_start(form) }}
    {{ form_row(form.label, {'value': cocktail.label}) }}
    {{ form_row(form.description, {'value': cocktail.description}) }}
    <button class="submit">Modifier</button>
    {{ form_end(form) }}

{% endblock %}
